ul{
  padding:0;
}
li{
  list-style: none;
}
.lang-list{
  display: flex;
  justify-content: center;
}
.lang-item{
  margin: 10px;
  font-weight: bold;
}
.grid-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rank{
  text-align: center;
}
.avatar{
  width:150px;
}
.grid-item{
  text-align: center;
  margin: 20px;
}
.nav{
  display: flex;
  justify-content: flex-start;
}
.nav li{
  margin:16px;
}
a{
  text-decoration: none;
}
.active{
  color:blue;
}
.home{
  text-align: center;
}
.button{
  display: block;
  width:200px;
  border:none;
  padding:10px;
  margin: 10px auto;
  text-align: center;
  font:14px;
  color:#fff;
  background-color: #22ef4a;
}
.button:hover{
  background-color: #223e4d;
  color:#defead;
}
